@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css); /*나눔펜*/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css); /*나눔스퀘어*/
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
	font-family: 'Noto Sans KR', sans-serif !important;
	width:1920px;
}

/* header_top */

.header_top{
	width:1920px;
	height:44px;
	background-color:#cccccc;
}

.top_menu{
	width:1280px;
	text-align: right;
	margin:0 auto;
}

.top_menu p{
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	padding: 0 5px;
	margin: 12px 0;
	line-height:1.43;
}

.top_menu p a{
	padding-right: 10px;
}


/* header_mid */

.header_mid{
	width:1280px;
	margin: 20px auto;
}

.logo{
	width:100px;
	height:50px;
	margin:0 auto;
}

.search_box{
	margin-top:-45px;
	float:right;
}

.search_text{
	 width: 214px;
	 height: 40px;
	 padding: 11px;
	 border-radius: 20px;
	 border: solid 1px #dddddd;
	 background-color: rgba(238, 238, 238, 0.3);
}


/* header_btm */
.header_btm{
	width:1920px;
	border-top: solid 1px #eeeeee;
	font-size:16px;
	line-height:20px;
	font-weight:500;
	color:#111111;
}

.menu_box{
	width:1280px;	
	margin:0 auto;
	padding:28px 0;
}

.cate{
	display:inline-block;
	margin-right: 94px;
}

.menu{
	display:inline-block;
	margin-left:50px;
}

.menu ul li{
	display: inline-block;
	padding:0 50px;
}

.menu ul li:last-child{
	padding-right:0;
}


/* mainslide */

.mainSlide{
	width:1920px;
	height:610px;
	background-color:#FFE392;
}

.slideText{
	width:1280px;
	height:191px;
	margin:0 auto;
	padding-top:203px;
	color:#424242;
}

.text1{
	font-family:'GmarketSansLight';
	font-size:48px;
	line-height:54px;
}

.text1 span{
	font-family:'GmarketSansBold';
}

.text2{
	font-family:'NanumSquare';
	font-size:16px;
	line-height:26px;
	margin-top:29px;
}



/* saleslie */

.saleSlide{
	width:1280px;
	margin:100px auto;
}

.saleSlide_text{
	font-family:'Nanum Pen Script';
	font-size:38px;
	line-height:44px;
	color:#444444;
	text-align:center;
	margin-bottom:15px;
}

.saleSlide_text span{
	color:#e13517;
}

.item_circle{
	padding:0 20px;
	display:inline-block;
	text-align:center;
}

.sale_img{
	width: 170px;
 	height: 170px;
 	border-radius:50%;
 	background-color:#e9e5ce;
 	margin-bottom:16px;
}

.item_circle .select{
	width: 260px;
  	height: 260px;
  	border: solid 2px #e13517;
}

.bestItem{
	width:1280px;
	margin:0 auto 100px;
}

.bestItem_text{
	font-family:'NanumSquare';
	font-weight:bold;
	font-size:30px;
	line-height:0.72;
	color:#111111;
	margin-bottom:44px;
	text-align:center;
}

.itemBox{
	width:296px;
	height:452px;
	border: solid 1px #eeeeee;
	display:inline-block;
	margin:12px;
}

.itemBox:nth-child(4n+1){
	margin-left:0px;
}

.itemBox:nth-child(4n){
	margin-right:0px;
}



.bestItem_img{
	width:296px;
	height:296px;
	background-color:#999999;
}

.itemTag{
	margin:12px 12px 5px;
	height:28px;
}

.tag{
	display:inline-block;
	padding:4px;
}

.best, .new{
	width:30px;
	height:12px;
	color:#ffffff;
	font-size:12px;
	background-color:#e13517;
}

.only_b{
	width:60px;
	height:12px;
	color:#ff9100;
	font-size:12px;
	border:1px solid #ff9100;
}


.itemName{
	margin:0 12px;	
	font-size:16px;
	font-weight:500;
	line-height:24px;
}

.shopName{
	font-weight:bold;
}

.sale_price{
	margin-left:12px;
}

.sale{
	display:inline-block;
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	color:#e13517;
}

.price{
	display:inline-block;
	margin-top:6px;
	font-size:16px;
	font-weight:bold;
	line-height:1.5
}

.o_price{
	display:inline-block;
	font-size:14px;
	line-height:1.43;
	color:#dddddd;
	text-decoration:line-through;
}

.bestItem_btn{
	width:296px;
	height:56px;
	background-color:#f7f7f7;
	margin-top:10px;
	color:#3f3f3f;
	font-size:16px;
}

.bestItem_btn div{
	display:inline-block;
	width:110px;
	text-align:center;
	padding:16px;
}

.add_bag{
	float:right;
	border-left:1px solid #eeeeee;
}



/* about */

.about{
	width:1280px;
	text-align:center;
	margin:0 auto;
}

.abouthead_text{
	font-family:'NanumSquare';
	font-size:30px;
	font-weight:bold;
	line-height:0.72;
	color:#111111;
}

.abouthead_subText{
	margin-top:20px;
	font-size:15px;
	font-weight:normal;
	line-height:1.4;
	color:#dddddd;
}

.aboutBox{
	width:1280px;
	height:600px;
	border:solid 1px #dddddd;
	margin:100px 0;
}

.aboutBox div{
	display:inline-block;
	margin:0;
	padding:0;
}

.aboutImg{
	width:640px;
	height:300px;
	background-color:#f7f7f7;
}

.about1{
	float:right;
	width:640px;
	height:300px;
	text-align:center;
}

.about2{
	float:left;
	width:640px;
	height:300px;
	text-align:center;
}

.about_text{
	font-size:20px;
	line-height:1.45;
	margin-top:64px;
}

.about_subtext{
	font-size:20px;
	line-height:1.45;
	margin-top:20px;
	color:#cccccc;
}



/* benefit */
.benefit{
	width:1280px;
	height:280px;
	margin:0 auto 100px;
	text-align:center;
}

.benefitBox{
	display:inline-block;
	width:420px;
	height:280px;
	background-color:#f8f8f8;
	border:solid 1px #dddddd;
}

.benefitBox img{
	margin-top:60px;
}

.benefit_text{
	font-size:20px;
	font-weight:bold;
	line-height:1.45;
	color:#454545;
	margin-bottom:30px;
}

.benefit_subtext{
	font-size:18px;
	font-weight:normal;
	line-height:1.44;
	color:#454545;
}


.sample_order{
	width:1920px;
	height:380px;
	color:#ffffff;
	background-color:#1b1b1b;
}

.sample_textbox{
	width:1280px;
	margin:0 auto;
	padding-top:87px;
}

.sample_text{
	font-size:30px;
	font-weight:bold;
	line-height:1.47;
}