@charset "UTF-8";




/* mainslide */

.mainSlide{
	width:1920px;
	height:610px;
}

.slideImg{
	width:1920px;
	height:610px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slideText{
	width:1280px;
	height:191px;
	margin:0 auto;
	color:#424242;
}

.text1{
	font-family:'GmarketSansLight';
	font-size:48px;
	line-height:54px;
}

.text1 span{
	font-family:'GmarketSansBold';
}

.text2{
	font-family:'NanumSquare';
	font-size:16px;
	line-height:26px;
	margin-top:29px;
}

.swiper-pagination-bullet{
	width: 16px;
	height: 16px;
	border: 2px solid #e13517;
	background-color: transparent;
	margin: 0 6px;
}

.swiper-pagination-bullet-active{
	background-color: #e13517;
	width: 26px;
	height: 16px;
	border-radius: 20px;
}

.swiper-button-prev, .swiper-button-next{
	width: 22px;
	height: 22px;
	background-color: #000000;
	opacity: 0.4;
	padding: 20px;
	border-radius: 50%;
}

.swiper-button-prev:after, .swiper-button-next:after{
	color: #ffffff;
	font-weight: bold;
	font-size: 30px;
}


/* saleslie */

.saleSlide{
	width:1280px;
	margin:100px auto;
}

.saleSlide_text{
	font-family:'Nanum Pen Script';
	font-size:38px;
	line-height:44px;
	color:#444444;
	text-align:center;
	margin-bottom:15px;
}

.saleSlide_text span{
	color:#e13517;
}

.item_circle{
	padding:0 20px;
	display:inline-block;
	text-align:center;
}

.sale_img{
	width: 170px;
 	height: 170px;
 	border-radius:50%;
 	margin-bottom:16px;
}

.item_circle .select{
	width: 260px;
  	height: 260px;
  	border: solid 2px #e13517;
}

.bestItem{
	width:1280px;
	margin:0 auto 100px;
}

.bestItem_text{
	font-family:'NanumSquare';
	font-weight:bold;
	font-size:30px;
	line-height:0.72;
	color:#111111;
	margin-bottom:44px;
	text-align:center;
}

.itemBox{
	width:296px;
	height:452px;
	border: solid 1px #eeeeee;
	display:inline-block;
	margin:12px;
}

.itemBox:nth-child(4n+1){
	margin-left:0px;
}

.itemBox:nth-child(4n){
	margin-right:0px;
}



.bestItem_img{
	width:296px;
	height:296px;
	background-color:#999999;
}

.itemTag{
	margin:12px 12px 5px;
	height:28px;
}

.tag{
	display:inline-block;
	padding:4px;
}

.best, .new{
	width:30px;
	height:12px;
	color:#ffffff;
	font-size:12px;
	background-color:#e13517;
}

.only_b{
	width:60px;
	height:12px;
	color:#ff9100;
	font-size:12px;
	border:1px solid #ff9100;
}


.itemName{
	margin:0 12px;	
	font-size:16px;
	font-weight:500;
	line-height:24px;
	color: #444444;
}

.shopName{
	font-weight:bold;
	color: #151616;
}

.sale_price{
	margin-left:12px;
}

.sale{
	display:inline-block;
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	color:#e13517;
}

.price{
	display:inline-block;
	margin-top:6px;
	font-size:16px;
	font-weight:bold;
	line-height:1.5
}

.o_price{
	display:inline-block;
	font-size:14px;
	line-height:1.43;
	color:#dddddd;
	text-decoration:line-through;
}

.bestItem_btn, .newItem_btn, .cateItem_btn{
	width:296px;
	height:56px;
	background-color:#f7f7f7;
	margin-top:10px;
	color:#3f3f3f;
	font-size:16px;
}

.bestItem_btn div, .newItem_btn div, .cateItem_btn div{
	display:inline-block;
	width:110px;
	text-align:center;
	padding:16px;
	cursor: pointer;
}

.bestItem_btn div img, .newItem_btn div img, .cateItem_btn div img{
	margin-bottom:-2px;
}

.add_bag{
	float:right;
	border-left:1px solid #eeeeee;
}



/* about */

.about{
	width:1280px;
	text-align:center;
	margin:0 auto;
}

.abouthead_text{
	font-family:'NanumSquare';
	font-size:30px;
	font-weight:bold;
	line-height:0.72;
	color:#111111;
}

.abouthead_subText{
	margin-top:20px;
	font-size:15px;
	font-weight:normal;
	line-height:1.4;
	color:#dddddd;
}

.aboutBox{
	width:1280px;
	height:600px;
	border:solid 1px #dddddd;
	margin:100px 0;
}

.aboutBox div{
	display:inline-block;
	margin:0;
	padding:0;
}

.aboutImg{
	width:640px;
	height:300px;
	background-color:#f7f7f7;
}

.about1{
	float:right;
	width:640px;
	height:300px;
	text-align:center;
}

.about2{
	float:left;
	width:640px;
	height:300px;
	text-align:center;
}

.about_text{
	font-size:20px;
	line-height:1.45;
	margin-top:64px;
}

.about_subtext{
	font-size:20px;
	line-height:1.45;
	margin-top:20px;
	color:#cccccc;
}

.about_btn{
	width: 150px;
	height: 60px;
	margin: 50px !important;
	border: solid 1px #dddddd;
}

.about_btn img{
	margin-top:12px;
}


/* benefit */
.benefit{
	width:1280px;
	height:280px;
	margin:0 auto 100px;
	text-align:center;
}

.benefitBox{
	display:inline-block;
	width:420px;
	height:280px;
	background-color:#f8f8f8;
	border:solid 1px #dddddd;
}

.benefitBox img{
	margin-top:60px;
	height:50px;
}

.benefit_text{
	font-size:20px;
	font-weight:bold;
	line-height:1.45;
	color:#454545;
	margin-bottom:30px;
}

.benefit_subtext{
	font-size:18px;
	font-weight:normal;
	line-height:1.44;
	color:#454545;
}


.sample_order{
	width:1920px;
	height:380px;
	color:#ffffff;
	background:url('../../images/backimages.png') no-repeat;
	padding-bottom:136px;
	border-bottom:1px solid #eeeeee;
}

.sample_textbox{
	width:1280px;
	margin:0 auto;
	padding-top:87px;
}

.sample_text{
	font-size:30px;
	font-weight:bold;
	line-height:1.47;
}

.sample_subtext{
	font-size:14px;
	line-height:1.43;
	margin-top:15px;
}

.sample_btn{
	width:168px;
	height:38px;
	border:solid 1px #ffffff;
	font-size:16px;
	line-height:1.5;
	margin-top:82px;
	padding-top:12px;
	padding-left:30px;
}

.sample_btn img{
	margin-top:5px;
	margin-right:30px;
	float:right;
}




.bottom_menu{
	width:1280px;
	margin:39px auto 32px;
}

/* customer_center */
.custmer_center{
	width:220px;
	display:inline-block;
	margin-right:36px;
}

.custmer_centertext{
	font-size:16px;
	line-height:1.5;
	font-weight:bold;
	margin-bottom:4px;
}

.phonenum{
	font-size:30px;
	font-weight:bold;
	line-height:1.47;
	color:#e13517;
	margin-bottom:11px;
}

.center_about{
	font-size:16px;
	line-height:1.5;
	color:#707070;
}


/* notice & news */

.notice{
	width:540px;
	display:inline-block;
	padding-left:32px;
	border-left:1px solid #eeeeee;
}

.notice_text{
	font-size:16px;
	font-weight:bold;
	line-height:1.5;
}

.notice span, .notice_list span{
	font-size:14px;
	line-height:1.43;
	color:#777777;
	float:right;
}

.notice_list{
	font-size:14px;
	line-height:1.43;
	color:#777777;
	border-bottom: 1px solid #eeeeee;
	padding:16px 0 11px;;
}


.bottom_btn{
	display:inline-block;
	width:400px;
	float:right;
	margin-top:30px;
}

.button{
	display:inline-block;
	width:140px;
	height:26px;
	border:1px solid #eeeeee;
	color:#777777;
	font-size:18px;
	line-height:1.44;
	border-radius:10px;
	padding:14px 18px;
	margin:5px;
}

.button img{
	float:right;
	margin-top:5px;
}

.kakao{
	display:inline-block;
	width:106px;
	height:24px;
	background-color:#ffda00;
	border-radius:10px;
	padding: 15px 35px;
	margin:5px;
	font-size:16px;
	color:#707070;
	line-height:1.5;
	text-align:right;
}

.kakao img{
	width:36px;
	float:left;
	margin-top:-5px;
}


/* sidemenu */

.sideMenu{
	position:fixed;
	top:200px;
	right:0;
	z-index: 10;
	background-color:#ffffff;
	display:none;
}

.sideMenu_box{
	height:95px;
	width:129px;
	border:1px solid #cccccc;
	font-size:16px;
	line-height:1.5;
	text-align:center;
	cursor:pointer;
}

.sideMenu_box img{
	display:block;
	margin-top:10px;
	margin-left:50px;
	margin-bottom:10px;
}

.top{
	background-color:#cccccc;
	height:54px;
	width:131px;
	text-align:center;
	font-size:16px;
	line-height:1.5;
	cursor:pointer;
}

.top img{
	display:block;
	padding:11px 62px 0px;
}







/* Mypage */

.C_content{
	width:1280px;
	margin:97px auto;
	padding-bottom:317px;
	min-height: 500px;
}

.contentTxt{
	font-family:"NanumSquare";
	font-size:30px;
	font-weight:bold;
	text-align:center;
	margin-bottom:41px;
}

.pagelist{
	margin-bottom:100px;
}

.pagelist ul li{
	display:inline-block;
	width:255px;
	height:24px;
	text-align:center;
	font-size:16px;
	font-weight:500;
	line-height:1.5;
	color:#888888;
	border:1px solid #dddddd;
	padding:12px 0;
	margin-right:-4px;
	cursor:pointer;
}

.pagelist .click{
	color:#ffffff;
	background-color:#e13517;
	border:none;
}

.mypageFrm{
	width:340px;
	margin:0 auto;
}

.mypageFrm label{
	color:#111111;
	font-size:14px;
	line-height:1.43;
	letter-spacing:-0.7px;
}

.mypageFrm input{
	width:340px;
	height:48px;
	border:1px solid #eeeeee;
	padding:10px;
	margin-top:5px;
	margin-bottom:20px;
	font-size:14px;
}

.modibtn{
	width:340px;
	height:48px;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	background-color:#bbbbbb;
	border:none;
	margin-top:80px;
}

.err{
	display:none;
	font-size:10px;
	color:#FA464E;
	margin-top:-15px;
}




/* likelist */
.allcheck{
	font-size:16px;
	color:#111111;
	font-weight:500;
	line-height:1.25;
	margin:100px 10px 10px;
}

.like_list{
	width:768px;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}

.like_item{
	display:flex;
	padding:20px;
	width:748px;
	border-bottom:1px solid #eeeeee;
}

.like_item:last-child{
	border:none;
}

.check{
	width:22px;
	height:22px;
	margin:39px 20px 0 0;
}

.itemimg{
	width:100px;
	height:100px;
}

.like_itemContent{
	height:60px;
	margin: auto 20px;
}

.like_itemContent .tag:first-child{
	margin-left:12px;
}


.item_price{
	margin-left:auto;
}

.item_price .sale{
	display:block;
	text-align:right;
	margin-top:16px;
}

.nokakao{
	margin-left:auto;
	width:470px;
	height:184px;
	border:1px solid #e13517;
	padding:48px 0;
	text-align:center;
}

.gokakao{
	width:290px;
	height:48px;
	background-color:#e13517;
	color:#ffffff;
	font-size:14px;
	line-height:1.43;
	border:none;
	outline:none;
	cursor:pointer;
}

.like_btns{
	margin:10px auto 200px;
	width:330px;
}

.like_btns button{
	width:140px;
	height:48px;
	font-size:14px;
	font-weight:bold;
	margin:10px;
	outline:none;
	border:none;
	cursor:pointer;
}


.bags_btns button{
	width:140px;
	height:48px;
	font-size:14px;
	font-weight:bold;
	margin:10px;
	outline:none;
	border:none;
	cursor:pointer;
}


/* order */

.order_table, .qna_table{
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.order_table thead tr, .qna_table thead tr{
	border-bottom: 1px solid #eeeeee;
}

.order_table tr th, .qna_table tr th {
	padding-bottom: 10px;
	font-weight: 500;
}


.order_table tr td, .qna_table tr td{
	padding: 20px 0;
	vertical-align: middle;
}

.order_table tbody tr td:first-child{
	text-align: left;
}

.orderitem_img{
	width: 100px;
	height: 100px;
	margin-left: 40px;
	float: left;
}

.order_itemContent{
	margin-left: 30px;
	display: inline-block;
	margin-top: 25px;
}

.order_itemContent .itemName{
	margin: 0px;
}

.detail_btn{
	width: 140px;
	height: 48px;
	color: #e13517;
	border: 1px solid #e13517;
	font-size: 14px;
	font-weight: bold;
	background-color: #ffffff;
	cursor: pointer;
}


.qna_table tr td:first-child{
	font-weight: normal;
}

.qna_table tr td:last-child{
	color: #e13517;
}


.pagination{
	margin: 70px auto;
	text-align: center;
}

.pagination li{
	display: inline-block;
	font-size: 14px;
	color: #888888;
	border: 1px solid #eeeeee;
	width: 26px;
	height: 26px;
	vertical-align: bottom;
	line-height: 26px;
	cursor: pointer;
}

.pagination img{
	margin-top: 8px;
}

.pagination .active{
	background-color: #e13517;
	color: #ffffff;
}





/* newitem */
.new_content, .cate_content{
	width: 1280px;
	min-height: 500px;
	padding-bottom: 317px;
	margin: 100px auto;
	text-align: center;
}

.new_content .title{
	font-weight: bold;
	font-size: 30px;
	line-height: 1.5;
}

.newlist{
	margin-top:88px;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 50px;
	width: 100%;
}

.newlist div{
	display: inline-block;
}

.count{
	float: left;
	font-size: 22px;
	color: #000000;
	line-height: 1.5;
}

.count span{
	color: #e13517;
}

.listcate{
	float: right;
}

.listcate div{
	font-size: 18px;
	color: #666666;
	line-height: 1.5;
	border-right: 1px solid #dddddd;
	padding: 0 10px;
	cursor: pointer;
}

.listcate div:last-child{
	border-right: none;
}

.listcate .click{
	color: #000000;
}

.newitem_list , .cateItem_list{
	width: 100%;
	text-align: left;
}

.newItem_img, .cateItem_img{
	width: 296px;
	height: 296px;
}

.pagingbox{
	margin: 70px auto;
	text-align: center;
}

.pagingbox li{
	display: inline-block;
	font-size: 14px;
	color: #888888;
	width: 26px;
	height: 26px;
	vertical-align: bottom;
	line-height: 26px;
	cursor: pointer;
}

.pagingbox li:first-child, .pagingbox li:last-child{
	border: 1px solid #eeeeee;
}

.pagingbox img{
	margin-top: 8px;
}

.pagingbox .active{
	color: #e13517;
}






/* category */
.categorybox div{
	display: inline-block;
}

.categorybox .bigcate{
	display: flex;
	text-align: center;
}

.categorybox .bigcate .bigcate_item{
	width: 214px;
	height: 200px;
	border: 1px solid #666666;
	font-size: 24px;
	font-weight: bold;
	line-height: 0.38;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	cursor: pointer;
}

.categorybox .bigcate .bigcate_item img{
	display: block;
}

.categorybox .bigcate .bigcate_item .text{
	margin-bottom: 56px;
	margin-top: auto;
}

.categorybox .bigcate .click{
	border-bottom: 10px solid #e13517;
}

.categorybox .midcate{
	margin: 40px auto;
}

.categorybox .midcate .midcate_item{
	border-radius: 21px;
	border: 1px solid #eeeeee;
	padding: 8px 15px;
	margin: 10px;
	font-size: 16px;
	color: #aaaaaa;
	line-height: 1.35;
	cursor: pointer;
}

.categorybox .midcate .click{
	color: #ff8c43;
	border: 1px solid #e13517;
}






/* BEST */
.best_content{
	width: 1280px;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 317px;
}

.best_title{
	font-size: 30px;
	font-weight: bold;
	line-height: 1.5;
	margin: 100px 0 10px;
	text-align: center;
}

.best_sub{
	font-size: 18px;
	color: #666666;
	line-height: 1.5;
	text-align: center;
}

.best_storeitem{
	width: 1220px;
	height: 120px;
	padding: 30px;
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.16);
	border: 1px solid #eeeeee;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.best_storeitem div{
	display: inline-block;
}

.num{
	color: #444444;
	font-size: 40px;
	line-height: 1.33;
	margin-right: 16px;
	margin-top: 35px;
}

.store_info{
	margin-top: 35px;
	margin-right: 56px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
}

.store_info img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
	vertical-align: middle;
}

.imglist{
	margin-left: auto;
}

.imglist img{
	width: 120px;
	height: 120px;
	margin: 0 10px;
}

.store_btn{
	margin-left: 20px;
	width: 196px;
	height: 27px;
	border: 1px solid #e13517;
	color: #e13517;
	font-size: 18px;
	line-height: 1.5;
	padding: 47px 30px;
	cursor: pointer;
}

.store_btn img{
	float: right;
	margin-top: 5px;
}

.best_itemimg{
	margin-top: 60px;
}

.best_itemimg img{
	width: 240px;
	height: 240px;
	margin: 8px;
}

.best_itemimg img:nth-child(5n){
	margin-right: 0;
}

.best_itemimg img:nth-child(5n-4){
	margin-left: 0;
}

.item_btn{
	font-size: 18px;
	color: #000000;
	line-height: 1.5;
	width: 1160px;
	height: 27px;
	border: 1px solid #e13517;
	margin: 20px 0 300px;
	padding: 47px 60px;
	cursor: pointer;
}

.item_btn span{
	color: #e13517;
	font-weight: bold;
}

.item_btn img{
	float: right;
}