<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="article">
	<select id="selectList" parameterType='Map' resultType='HashMap'>
		select qna_id, client_id, qna_title, qna_value, qna_date from qna where client_id = #{id}
	</select>
	
	<insert id="qnaRegister" parameterType='ArticleVO'>
		INSERT INTO qna(client_id, qna_title, qna_value, qna_date) VALUES (#{client_id, jdbcType=VARCHAR}, #{qna_title, jdbcType=VARCHAR}, #{qna_value, jdbcType=VARCHAR}, sysdate())
	</insert>
</mapper>