<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="category">
	<select id="getCategoryDTO" parameterType="hashmap" resultType="kr.co.dessertfarm.category.CategoryDTO">
		SELECT p.product_id,m.manager_name,p.product_name, p.category,p.product_price,i.product_img_url,p.product_new,p.product_best FROM product p, manager m, product_image i
		WHERE p.product_id = i.product_id AND p.manager_id = m.manager_id AND p.category 
		LIKE #{cate} and i.product_img_type = 'thumb'
		LIMIT #{findingCount} OFFSET #{dbLimitStart};
	</select>
	
	<select id="getCateTotalCount" parameterType ="String" resultType="int">
		SELECT count(*) FROM product WHERE category LIKE #{cate};
	</select>
	
	<select id="getBestProduct" resultType="kr.co.dessertfarm.category.CategoryDTO">
		SELECT p.product_id,m.manager_name,p.product_name, p.category,p.product_price,i.product_img_url,p.product_new,p.product_best FROM product p, manager m, product_image i
		WHERE p.product_id = i.product_id AND p.manager_id = m.manager_id
		AND p.product_best = 1 AND i.product_img_type = 'thumb'
		LIMIT 8 OFFSET 0
	</select>
</mapper>