<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="category">
	<select id="getCategoryDTO" parameterType="hashmap" resultType="kr.co.dessertfarm.category.CategoryDTO">
		select p.product_id,m.manager_name,p.product_name, p.category,p.product_price,i.pro_img_server from product p, manager m, product_image i
		where p.product_id = i.product_id and p.manager_id = m.manager_id and p.category 
		like #{cate} and i.pro_img_server like '%thumb____' 
		limit #{findingCount} offset #{dbLimitStart};
	</select>
	
	<select id="getCateTotalCount" parameterType ="String" resultType="int">
		select count(*) from product where category like #{cate};
	</select>
</mapper>