<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="member">
	<select id="client_Login" parameterType='Map' resultType='HashMap'>
		select *
		from client
		where client_id = #{id} and client_pwd = #{pwd}
	</select>
	
	<select id="manager_Login" parameterType='Map' resultType='HashMap'>
		select *
		from manager
		where manager_id = #{id} and manager_pwd = #{pwd}
	</select>
	
	<insert id="client_Join" parameterType='MainVO'>
		insert into client (client_name, client_id, client_pwd, client_tel) 
		values (#{client_name, jdbcType=VARCHAR}, #{client_id, jdbcType=VARCHAR}, #{client_pwd, jdbcType=VARCHAR}, #{client_tel, jdbcType=VARCHAR})
	</insert>
	
	<insert id="manager_Join" parameterType='MainVO'>
		insert into manager (manager_name, manager_id, manager_pwd, manager_tel) 
		values (#{manager_name, jdbcType=VARCHAR}, #{manager_id, jdbcType=VARCHAR}, #{manager_pwd, jdbcType=VARCHAR}, #{manager_tel, jdbcType=VARCHAR})
	</insert>
	
	<update id="client_ChangePwd" parameterType='MainVO'>
		update client
		set client_pwd=#{new_pwd}
		where client_id=#{id}
	</update>
	
	<update id="manager_ChangePwd" parameterType='MainVO'>
		update manager
		set manager_pwd=#{new_pwd}
		where manager_id=#{id}
	</update>
	
	<select id="client_dupId" parameterType="String" resultType="int">
		select count(*) from client where client_id = #{id};
	</select>
	
	<select id="manager_dupId" parameterType="String" resultType="int">
		select count(*) from manager where manager_id = #{id};
	</select>
	
	<select id="client_dupName" parameterType="String" resultType="int">
		select count(*) from client where client_name = #{name};
	</select>
	
	<select id="manager_dupName" parameterType="String" resultType="int">
		select count(*) from manager where manager_name = #{name};
	</select>
</mapper>
