<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="product">
	<insert id="insertProduct" parameterType="productRequest">
		INSERT INTO product(category,product_name,product_price,product_value,product_date,product_rating,product_unit,product_delivery,product_exchange,product_as,manager_id,product_cost_price) 
		VALUES(#{categoryCode},#{product_name},#{product_price},#{product_value},sysdate(),0,#{product_unit},#{product_delivery},#{product_exchange},#{product_as},#{manager_id},#{product_price})
		 <selectKey keyProperty="product_id" resultType="Integer" order="AFTER">
    		SELECT LAST_INSERT_ID()
  		</selectKey>
	</insert>
	
	<insert id="insertProductViewSet" parameterType="int">
		INSERT INTO view_rate_of_rise(product_id, before_view, rate_of_rise)
		VALUES (#{product_id},0,0) 
	</insert>
	
	<select id="getProductId" parameterType="productRequest" resultType="int">
		select product_id from product where product_name = #{product_name} and manager_id = #{manager_id}
	</select>

	<select id="getManageProductList" parameterType="String" resultType="manageProductDTO">
		select a.product_id, a.product_name, a.category, a.product_price, a.product_sales_stat,b.product_img_url
		from product a,product_image b 
		where a.product_id = b.product_id and 
		a.manager_id = #{id} and 
		b.product_img_type = 'thumb' order by a.product_id*1 desc;
	</select>
	
	<delete id="deleteProduct" parameterType="list">
		delete from product where 
		<foreach collection="list" item="item" index="index" separator="or">
		product_id = #{item}
		</foreach>
	</delete>
	
	<select id="getProductImageName" parameterType="list" resultType="String">
		<foreach collection="list" item="item" index="index" separator="or">
		product_id = #{item}
		</foreach> 
	</select>
	
	<select id="searchProduct" resultType="manageProductDTO">
		SELECT product_id, category, product_name, product_price
		FROM product
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		WHERE product_id LIKE CONCAT('%', #{keyword},'%') OR product_name LIKE CONCAT('%', #{keyword}, '%') OR category LIKE CONCAT('%', #{keyword}, '%') OR product_price LIKE CONCAT('%', #{keyword}, '%')
	</sql>
	
	<select id="getProduct" parameterType="int" resultType="productPageDTO">
		SELECT * FROM product WHERE product_id = #{product_id}
	</select>
	
	<select id="getProductImage" parameterType="int" resultType="String">
		SELECT product_img_url FROM product_image WHERE product_id = #{product_id} ORDER BY product_img_id ASC;
	</select>
	
	<select id="addView" parameterType="int">
		UPDATE product SET product_view = product_view + 1 WHERE product_id = #{product_id};
	</select>
	
	<select id="getBestProduct">
		SELECT * FROM product where product_best = '1' LIMIT 8 OFFSET 0;
	</select>
	
	<select id="getTotalNewProduct" resultType="int">
		SELECT COUNT(*) FROM product WHERE product_new = 1
	</select>
	
	<select id="getNewProduct" resultType="kr.co.dessertfarm.newProduct.NewProductDTO">
		SELECT p.product_id,m.manager_name,p.product_name, p.category,p.product_price,i.product_img_url,p.product_new,p.product_best 
		FROM product p, manager m, product_image i
		WHERE p.product_id = i.product_id AND p.manager_id = m.manager_id 
		AND p.product_new = 1 AND i.product_img_type = 'thumb' ORDER BY p.product_id DESC
		LIMIT #{findingCount} OFFSET #{dbLimitStart}
	</select>
	
</mapper>
