<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="product">
	<insert id="insertProduct" parameterType="productRequest">
		INSERT INTO product(category,product_name,product_price,product_value,product_date,product_rating,product_unit,product_delivery,product_exchange,product_as,manager_id) 
		VALUES(#{categoryCode},#{product_name},#{product_price},#{product_value},sysdate(),0,#{product_unit},#{product_delivery},#{product_exchange},#{product_as},#{manager_id})
		 <selectKey keyProperty="product_id" resultType="Integer" order="AFTER">
    		SELECT LAST_INSERT_ID()
  		</selectKey>
	</insert>
	
	<insert id="insertProductViewSet" parameterType="int">
		INSERT INTO view_rate_of_rise(product_id, before_view, rate_of_rise)
		VALUES (#{product_id},0,0) 
	</insert>
	
	<select id="getProductId" parameterType="productRequest" resultType="int">
		select product_id from product where product_name = #{product_name} and manager_id = #{manager_id}
	</select>

	<select id="getManageProductList" parameterType="String" resultType="manageProductDTO">
		select a.product_id, a.product_name, a.category, a.product_price, a.product_sales_stat,b.product_img_url
		from product a,product_image b 
		where a.product_Id = b.product_id and 
		a.manager_id = #{id} and 
		product_img_name Like '%thumb____' order by a.product_id*1 desc;
	</select>
	
	<delete id="deleteProduct" parameterType="list">
		delete from product where 
		<foreach collection="list" item="item" index="index" separator="or">
		product_id = #{item}
		</foreach>
	</delete>
	
	<delete id="deleteProductImage" parameterType="list">
		delete from product_image where 
		<foreach collection="list" item="item" index="index" separator="or">
		product_id = #{item}
		</foreach>
	</delete>
	
	<select id="getProductImageName" parameterType="list" resultType="String">
		select pro_img_name from product_image where
		<foreach collection="list" item="item" index="index" separator="or">
		product_id = #{item}
		</foreach> 
	</select>
	
	<select id="searchProduct" resultType="manageProductDTO">
		SELECT product_id, category, product_name, product_price
		FROM product
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		WHERE product_id LIKE CONCAT('%', #{keyword},'%') OR product_name LIKE CONCAT('%', #{keyword}, '%') OR category LIKE CONCAT('%', #{keyword}, '%') OR product_price LIKE CONCAT('%', #{keyword}, '%')
	</sql>
	
	<select id="getProduct" parameterType="int" resultType="productPageDTO">
		SELECT * FROM product WHERE product_id = #{product_id}
	</select>
	
	<select id="getProductImage" parameterType="int" resultType="String">
		SELECT product_img_url FROM product_image WHERE product_id = #{product_id} ORDER BY product_img_url DESC;
	</select>
	
	<select id="addView" parameterType="int">
		UPDATE product SET product_view = product_view + 1 WHERE product_id = #{product_id};
	</select>
	
</mapper>
