<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <!-- 내부에서 사용하려는 변수가 있는 파일 지정 : ${name}으로 참조 -->
    <properties resource="./mybatis/properties/dbinfo.properties"/>
 
    <!-- 사용하려는 DTO에 대한 축약 이름 -->
    <typeAliases>
        <typeAlias type="kr.co.dessertfarm.spring.MainVO" alias="MainVO" />
        <typeAlias type="kr.co.dessertfarm.product.ProductRequest" alias="productRequest" />
        <typeAlias type="kr.co.dessertfarm.product.ProductImageRequest" alias="productImageRequest" />
        <typeAlias type="kr.co.dessertfarm.product.ManageProductDTO" alias="manageProductDTO" />
        <typeAlias type="kr.co.dessertfarm.article.ArticleVO" alias="ArticleVO"/>
        <typeAlias type="kr.co.dessertfarm.search.SearchProductDTO" alias="searchProductDTO"/>
        <typeAlias type="kr.co.dessertfarm.order.OrderDTO" alias="orderDTO"/>
        <typeAlias type="kr.co.dessertfarm.basket.BasketDTO" alias="basketDTO"/>
    </typeAliases>
    
    <!-- connection pool -->
    <!-- 보안, 유지보수 차원에서 정보를 빼내서 사용 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${dbid}"/>
                <property name="password" value="${dbpwd}"/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- 사용할 쿼리에 대한 등록 -->
    <mappers>
        <mapper resource="./mybatis/mapper/memberMapper.xml" />
        <mapper resource="./mybatis/mapper/productMapper.xml" />
        <mapper resource="./mybatis/mapper/articleMapper.xml"/>
        <mapper resource="./mybatis/mapper/productMapper.xml"/>
        <mapper resource="./mybatis/mapper/categoryMapper.xml"/>
        <mapper resource="./mybatis/mapper/searchMapper.xml"/>
        <mapper resource="./mybatis/mapper/dibsMapper.xml"/>
        <mapper resource="./mybatis/mapper/orderMapper.xml"/>
        <mapper resource="./mybatis/mapper/basketMapper.xml"/>
    </mappers>
</configuration>